.fa-facebook-square {
    padding: 5.75px;
}

.fa-instagram {
    padding: 5.75px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: whitesmoke;
    min-width: 150px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 13px 15px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: lightcyan;
}

.dropdown:hover .dropdown-content {
    display: block;

}